html,
body {
  margin: 0px;
}

.wrapper, input, button{
 /*  width: 600px; */
font-family: 'Raleway', sans-serif;
}

.inner {
  width: 200px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  text-align: center;
}

.google{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 4;
  right: 0%;
}

.display-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
    height: 60px;
    padding: 0 7vw;
    background-color: rgb(255, 223, 218);
    box-shadow: 0 2px 20px rgb(254, 166, 166); 
    border-bottom: 2px solid rgb(254, 206, 181); 
    position: relative;
    z-index: 3;
}


.back img {
  width: 50px;
}

.product-picture {
  margin: 30px 0 0 0;
}

.product-picture img {
  border: 3px solid black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 1em grey;
}

.product-title {
  font-size: 18px;
}

.product-text {
  margin: 50px 0 50px 0;
  font-size: 18px;
}

.table-number {
  font-size: 50px;
}

.table {
  line-height: 60px;
}

.table button {
  color: black;
  background: transparent;
  border: 0px solid black;
  border-radius:2px;
  font-size: 20px;
  width: 30px;
  height: 30px;
/*   box-shadow: 0 2px 1em grey; */
  /* box-shadow: 0 2px 1em grey; */
}

.table button:active {
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
  -moz-transform: translate(0px, 2px);
  -ms-transform: translate(0px, 2px);
box-shadow: 0px 1px 0px 0px;
}

button:disabled {
    opacity: 0.65;
}

.minus {
  float: left;
}

.plus {
  float: right;
}

.date-title {
  margin: 30px;
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.date-picker input {
  margin-right: 10px;
}

.submit-btn button {
  width: 333px;
  text-align: center;
}

.submit-btn {
  margin: 20px 0 20px 0;
}

.submit-btn button {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  border-radius:2px;
  width: 200px;
  height: 50px;
/*   box-shadow: 0 2px 1em grey; */
  font-size:20px;
  font-family: 'Raleway', sans-serif;
}

.submit-btn button:active {
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
  box-shadow: 0px 1px 0px 0px;
}

button, input{
  text-align: center;
  border-radius: 7px;
    width: 100%;
    height: 30px;
    border: 0;
    outline: 0;
    color: white;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    z-index: 3;
    background: rgb(242, 101, 34);
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
}

.botton1 a {
  width: 333px;
  text-align: center;
  border-radius: 7px;
  height: 30px;
  border: 0;
  outline: 0;
  color: white;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  z-index: 3;
  background: rgb(242, 101, 34);
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  text-decoration: none;

}

.credit{
  position:relative;
  bottom:0px;
  left:5px;
  margin:0px;
  width:50%;
}
.credit p{
  display:inline;
}