<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style6.css}">
    <link rel="icon" th:href="@{/Source/icono.ico}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/javacc.js}"></script>
    <title>Rest. Carmen | Reservar</title>
</head>
<body>
    <div class="wrapper">
        <div class="display-menu">
            <div class="back">
                <img src="/Source/sorc1.png"  alt="Back">
            </div>
            <form th:action="@{/logout}" method="post">
                <input class="botton-close" type="submit" value="Cerrar Sesión"/>
            </form>
            <div id="google_translate_element" class="google"></div>
            <div class="botton1" th:if="${isAdmin}">
                <a th:href="@{/menufull}">Ir al Menú</a>
            </div>
        </div>
        <div class="inner">
            <div class="product-picture">
                <img th:src="@{/Source/reservare.jpeg}" class="source3" alt="img_reservar mesa">
            </div>
            <div class="product-title">
                <p><strong>Reservar una mesa</strong></p>
            </div>
            <div class="exito" th:if="${param.exito}">
                <p>Perfecto!, Se ha realizado una correcta reservación</p>
            </div>
            <div class="product-text">
                <p>Cantidad de personas que asistiran</p>
            </div>
            <div class="table-choice">
                <div class="table minus">
                    <button type="button"><strong>-</strong></button>
                </div>
                <div class="table plus">
                    <button type="button"><strong>+</strong></button>
                </div>
                <div class="table-number">
                    <strong id="tableNumber" name="tableNumber" th:text="${tableNumber}">1</strong>
                </div>
            </div>
            <div class="date-title">
                <p>Seleccione fecha &amp; hora</p>
            </div>
            <div class="date-picker">
                <form th:action="@{/formreserv}" method="post" th:object="${reserva}">
                    <input class="imp" type="hidden" id="tableNumberInput" name="cantidadPersonas" th:value="${tableNumber}" />
                    <!-- Otros campos aquí -->
                    <input class="imp" type="date" placeholder="mm/dd/yyyy" name="fecha" style="text-align:center;">
                    <input class="imp" type="time" placeholder="00:00" name="hora">
                    <button class="reserv" type="submit">Reservar</button>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/javacc.js}"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'ca,eu,gl,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true}, 'google_translate_element' );
                }
        </script>
        
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
