<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/style7.css}">
    <link rel="icon" th:href="@{/Source/icono.ico}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rest. Carmen | Menufull</title>
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div id="leftside-navigation" class="nano">
                <ul class="nano-content">
                    <li>
                        <a><i class="fa fa-power-off"></i><span>
                                <form class="formlog" th:action="@{/logout}" method="post">
                                    <input class="botton-close" type="submit" value="Cerrar Sesión" />
                                </form>
                            </span></a>
                    </li>
                    <li class="sub-menu">
                        <a id="usuarios"><i class="fa fa-table"></i><span>Usuarios</span></a>
                    </li>
                    <li class="sub-menu">
                        <a id="Reservas"><i class="fa fa fa-tasks"></i><span>Reservas</span></a>
                    </li>
                    <li>
                        <a><i></i><span>
                                <div id="google_translate_element" class="google"></div>
                            </span></a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="content">
            <div class="menup hidden">
                <div class="food-items">
                    <div class="item">
                        <div><img src="/Source/security.jpeg" alt="Seguridad item"></div>
                        <h3>Bienvenido al sistema de usuarios señor administrador.</h3>
                        <p>Aqui podras ver todos los usuarios que han sido registrados en su pagina web.</p>
                        <div class="users">
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Actualizar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="usuario : ${usuarios}">
                                        <td th:text="${usuario.id}">ID</td>
                                        <td th:text="${usuario.nombre}">Nombre</td>
                                        <td th:text="${usuario.email}">Correo</td>
										<td> 
                                            <form th:if="${usuario != null}" th:action="@{'/edit/' + ${usuario.id}}" method="get">
                                                <button type="submit">Editar</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form th:if="${usuario != null}" th:action="@{'/eliminarUsuario/' + ${usuario.id}}" method="post">
                                                <input type="hidden" name="id" th:value="${usuario.id}" />
                                                <button type="submit">Eliminar</button>
                                            </form>                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menup2 hidden">
                <div class="food-items">
                    <div class="item">
                        <div><img src="/Source/res.jpeg" alt="Reservacion icono"></div>
                        <h3>Bienvenido al sistema de reservas señor administrador.</h3>
                        <p>Aqui podras ver todos los usuarios que han solicitado una reservación</p>
                        <div class="users">
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Actualizar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="usuario : ${usuarios}">
                                        <td th:text="${usuario.id}">ID</td>
                                        <td th:text="${usuario.nombre}">Nombre</td>
                                        <td th:text="${usuario.email}">Correo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'es', includedLanguages: 'ca,eu,gl,en,fr,it,pt,de', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true }, 'google_translate_element');
            }
        </script>
        <script type="text/javascript"
            src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script src="../js/javasca.js"></script>
</body>

</html>