<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rest. Carmen | Login</title>
  <link rel="stylesheet" th:href="@{/css/style5.css}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="message signup">
    <div id="google_translate_element" class="google"></div>
    <div class="btn-wrapper">
      <button class="button" id="signup">Registrate</button>
      <a th:href="@{/login}">
        <button class="button" id="login"> Ingresa</button>
      </a>
      <a th:href="@{/home}">
        <img th:src="@{/Source/sorc1.png}" class="source1" alt="logo1">
      </a>    
    </div>
  </div>
  <div class="form form--signup">
    <div class="form--heading">Bienvenido | Registrate</div>
    <form autocomplete="off" th:action="@{/registro}" method="post" th:object="${usuario}" required autofocus="autofocus">
    	<input for="nombre" id="nombre" th:field="*{nombre}" type="text" placeholder="Nombres">
    	<input for="email" id="email" th:field="*{email}" type="email" placeholder="Correo">
    	<input for="password" id="password" th:field="*{password}" type="password" placeholder="Contraseña">
    	<button type="submit" class="button">Registrarse</button>
      <div class="alert" th:if=${param.exito}>
        <div class="alerta"> Se ha registrado exitosamente</div>
      </div>
	</form>

  </div>
</div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'ca,eu,gl,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true}, 'google_translate_element' );
          }
  </script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</body>
</html>
