<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style2.css}">
    <link rel="icon" th:href="@{/Source/icono.ico}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rest. Carmen | Reservar</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo" onclick="scrollToTop()">
                <img th:src="@{/Source/sorc1.png}" class="source11" alt="icono1">
            </div>
            <div class="headerbar">
                <div class="account">
                    <ul>
                        <a th:href="@{/}">
                            <li>
                                <i class="img">
                                    <div class="logo">
                                        <img th:src="@{/Source/sorc1.png}" alt="icono1">
                                    </div>
                                </i>
                            </li>
                        </a>
                        <a th:href="@{/home}">
                            <li>
                                <i class="fa-solid fa-house-chimney"></i>
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                <i class="fa-solid fa-magnifying-glass searchicon" id="searchicon1"></i>
                            </li>
                        </a>
                        <div class="search" id="searchinput1">
                            <input type="search">
                            <i class="fa-solid fa-magnifying-glass srchicon"></i>
                        </div>
                        <a th:href="@{/login}">
                            <li>
                                <i class="fa-solid fa-user" id="user-mb"></i>
                            </li>
                        </a>
                    </ul>
                </div>
                <div class="nav">
                    <ul>
                        <a th:href="@{/home}">
                            <li>Inicio</li>
                        </a>
                        <a th:href="@{/reserv}">
                            <li>Reserva</li>
                        </a>
                        <a th:href="@{/about}">
                            <li>Sobre Nosotros</li>
                        </a>
                        <a th:href="@{/menu}">
                            <li>Menú</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="bar">
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-xmark" id="hdcross"></i>
            </div>
            <div class="nav">
                <ul>
                    <a th:href="@{/home}">
                        <li>Inicio</li>
                    </a>
                    <a th:href="@{/reserv}">
                        <li>Reserva</li>
                    </a>
                    <a th:href="@{/about}">
                        <li>Sobre Nosotros</li>
                    </a>
                    <a th:href="@{/menu}">
                        <li>Menú</li>
                    </a>
                </ul>
            </div>
            <div class="account">
                <ul>
                    <a th:href="@{/home}">
                        <li>
                            <i class="fa-solid fa-house-chimney"></i>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <i class="fa-solid fa-magnifying-glass searchicon" id="searchicon2"></i>
                        </li>
                    </a>
                    <div class="search" id="searchinput2">
                        <input type="search">
                        <i class="fa-solid fa-magnifying-glass srchicon"></i>
                    </div>
                    <a th:href="@{/login}">
                        <li>
                            <i class="fa-solid fa-user" id="user-lap"></i>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </header>
    <div id="google_translate_element" class="google"></div>
    <div class="home">
        <div class="main_slide">
            <div>
                <h1>¿Quieres reservar una mesa? <span>¡Adelante!</span></h1>
                 <p>En Las Delicias de la Tía Carmen, hemos diseñado una experiencia culinaria excepcional para ti y tus seres queridos. 
                    Con un ambiente acogedor y una atención excepcional, te invitamos a reservar una mesa y disfrutar de nuestros exquisitos platos. 
                    Nuestro objetivo es ofrecerte no solo una deliciosa comida, sino también un momento inolvidable lleno de sabores y alegría. 
                    Con nuestro personal capacitado y comprometido, te garantizamos un servicio excepcional que superará tus expectativas. 
                    ¡Haz tu reserva ahora y déjanos sorprenderte con una experiencia gastronómica única!</p>
                    <a th:href="@{/login}">
                        <button class="red_btn">Reserva ahora! <i class="fa-solid fa-arrow-right-long"></i></button>
                    </a>
            </div>
            <div>
                <img th:src="@{/Source/mesa1.jpg}" class="source3" alt="mesa1">
            </div>
        </div>
        <div class="food-items">
            <div class="item">
                <div>
                    <img th:src="@{/Source/cocinero1.png}" alt="Cocinero item">
                </div>
                <h3>Auxiliar de cocina</h3>
                <p>"Nuestro equipo de cocina trabaja arduamente para asegurarse de que cada detalle esté cuidadosamente atendido, desde la preparación hasta la presentación del plato final."</p>
            </div>
            <div class="item">
                <div>
                    <img th:src="@{/Source/cocinero2.png}" alt="Cocinero2 item">
                </div>
                <h3>Jefe de cocinar</h3>
                <p>"Bienvenidos a nuestra cocina, donde cada plato cuenta una historia de amor y pasión por la gastronomía."</p>
            </div>
            <div class="item">
                <div>
                    <img th:src="@{/Source/cocinero3.png}" alt="Cocinero3 item">
                </div>
                <h3>Cajera y mesera</h3>
                <p>"¿Listo/a para ordenar? Permíteme guiarte a través de nuestro menú y recomendarte nuestros platos más populares de la casa."</p>
            </div>
        </div>
        <div class="main_slide3">
            <div class="fav-head">
                <h3>Nuestra historia</h3>
                <p>Todo comenzó hace más de una década en el corazón de la bulliciosa ciudad de Neiva, 
                    donde nuestra querida Tía Carmen decidió compartir su amor por la cocina con el mundo. 
                    Con una pasión innata por los sabores auténticos y las recetas tradicionales, 
                    nuestro restaurante ha crecido hasta convertirse en un lugar emblemático para los amantes de la comida. 
                    Cada plato en nuestro menú está impregnado de historias familiares y secretos culinarios transmitidos de generación en generación, 
                    lo que refleja la herencia y el legado de nuestra amada Tía Carmen. 
                    ¡Únete a nosotros en este viaje gastronómico y descubre la rica historia que nos ha llevado a ser el favorito de la ciudad!</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-1">
            <div class="logo">
                <img th:src="@{/Source/sorc1.png}" alt="Logo1">
            </div>
            <div>
                <address>
                    <p>email: LaTiaCarmen@gmail.com</p>
                    <p>Celular: 3002265287</p>
                    <p>Diseñador: Juan David Camacho T</p>
                    <p>Facultad: Software</p>
                </address>
            </div>
        </div>
        <div class="footer-2">
            <img th:src="@{/Source/usco.png}" alt="Logo1">
            <h2>Programación Web</h2>
        </div>
    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'ca,eu,gl,en,fr,it,pt,de', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true}, 'google_translate_element' );
                }
        </script>
	<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="../js/javasc.js"></script>
</body>
</html>
